@model fyp.Models.JobsModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>





<div>
  
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requirement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requirement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Corporation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Corporation.CorporationName)
        </dd>
    </dl>
</div>
<div>

    <a asp-action="Index">Back to List</a>|


 

        @if (SignInManager.IsSignedIn(User))
        {
            

           
                
            <form asp-action="Create" asp-controller="Application" method="post">

                <button type="submit" value="subbmit" class="nav-item nav-item">Apply</button>
            </form>
            <a asp-action="Create" asp-controller="Application" method="post">Apply</a>
        }
        else
        {
           
            
                <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            
        }
    
</div>
