@model fyp.Models.CorporationModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CorporationModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorporationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorporationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorporationDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorporationDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorporationLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorporationLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorporationUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorporationUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CorporationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
