@model fyp.Models.CorporationModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CorporationModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorporationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorporationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorporationDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorporationDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorporationLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorporationLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorporationUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorporationUrl)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CorporationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
