@model IEnumerable<fyp.Models.CorporationModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CorporationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorporationDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorporationLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorporationUrl)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CorporationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorporationDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorporationLocation)
            </td>
            <td>
                <img src="@item.ImageUrl" height="50" width="50" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CorporationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CorporationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CorporationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
