@model IEnumerable<fyp.Models.QualificationModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CurrentEducation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstituteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MajorSubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletionYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentEducation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstituteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MajorSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QualificationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QualificationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QualificationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
